<input type="hidden" name="{$captcha_hash}" value="{$hash}">

Opiste kod:<br>
<img src="{$image}">
<br>
<label for="{$captcha_responce}">Kod:</label>
<input type="text" id="{$captcha_responce}" name="{$captcha_responce}" size="5" maxlength="5">
