common:
    php:
        date.timezone: Europe/Prague

    nette:
        xhtml: false

        session:
            autoStart: smart
            expiration: + 14 days

        application:
            debugger: true

        debugger:
            strictMode: TRUE

        container:
            debugger: true

    services:

        # Thumbator
        thumbator:
            class: Thumbator\Thumbator
            setup:
              - setRepository(%wwwDir%/data)

    factories:


production < common:

development < common:
